<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.Database_DaiNamv2ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Database_DaiNamv2;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.Database_DaiNamv2ConnectionString1"
            connectionString="Data Source=ADMIN-PC;Initial Catalog=Database_DaiNamv2;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>