<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QuanLyCongVienConnectionString"
            connectionString="Data Source=LAPTOP-4K31QLOO\SQLEXPRESS;Initial Catalog=QuanLyCongVien;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QuanLyCongVienConnectionString1"
            connectionString="Data Source=Admin-PC\SQLEXPRESS;Initial Catalog=QuanLyCongVien;User ID=admin;Password=123456;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QuanLyCongVienConnectionString2"
            connectionString="Data Source=Admin-PC\SQLEXPRESS;Initial Catalog=QuanLyCongVien;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DaiNamResortConnectionString"
            connectionString="Data Source=.;Initial Catalog=DaiNamResort;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DaiNamResortConnectionString1"
            connectionString="Data Source=.;Initial Catalog=DaiNamResort;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>